body{
    background-color: blanchedalmond;
}

.pDiferente{
    color: red;
    width: 100%;
}

.negritaSemantica{
    color: rgb(138, 43, 226);
}

.divRGBA{
    background-color:red ;
    width: 50%;
    padding: 20px;
    margin-top: 50px;
    margin:auto;
}